
<style>
  
/****new device page four boxes****/
#fourbox {
    text-align: justify;
    text-justify: distribute-all-lines!important;
    width:100%;
  
  	margin-top:3em;
  	display:inline;
}

@media screen and (max-width: 749px) {
    #fourbox{
     width:100%;
    }
}


.fourbox>div {
 	 width: 120px;
    height: 120px;  
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background:#ffffff;
    border-radius: 4px;
  	margin-top:30px;
    position: relative; 
}
  #fourbox{
   margin-top:3em; 
  }

.fa_track {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}  

/* span {
    width: 25%;
    display: inline-block;
  
    line-height: 0
} */

 .fourbox_text2{
    font-size:12px;
   	position: absolute;
   	top: 60%; 
    left:30%;
    color: #43484c;
  }

  .fourbox_text{
    font-size:12px;
   	position: absolute;
   	top: 60%; 
    left:20%;
    color: #43484c;
  }

  .rectangle{
    text-align:center; 
  }
  

  @media screen and (max-width: 870px) {
    .devicenewHeader{
      margin-top:6em!important; 
    }
   .col-1-4{
      display:none!important; 
    }
  }
	

  .deviceSmallScreen{
       position:relative; 
       width:100%; 
       margin: auto;
 
      width: 100%;
      display: block;
  }
  
  .deviceHeader_fullwidth{
   vertical-align:middle; 
  }
  
	
  #newPawtrails{
   margin-top:1em; 
  }

/**new added css styles**/

  .hero-image {
    position: relative;
    margin-top:4.6em; /**to move the image under the nav**/
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
  
  .col-1-4 {
  	width: 25%ï¼important;
    float:left;
    margin-right: 1.5em;
    display:inline-block;
}
  
  .fourbox:after {
  content: "";
  display: inline-block;
 
}
  
  .fourbox{
   margin-top:3em; 
  }
  
   @media screen and (max-width: 1000px) { 
      .floating-dog{
		height:28em!important;
      }
   
     .fourbox>div {
 	 	width: 100px;
       height: 100px;
     }
     .fourbox{
      margin-top:1em; 
     }
   }
	 @media screen and (max-width: 1282px) { 
      .devicenewHeader{
        margin-top:8em; 
       }
       .mobilestyle{
        font-size:1.3em!important; 
       }
     }
  
   .rwd-break{
      display:none; 
     }
  
  /****Test for image only on mobile, device header no text **/
   @media screen and (max-width: 500px) {		
  		.disappear_mobile{
          display:none!important;
        }
     	
     	.devicenewHeader{
         margin-top:3em!important;
        }
     
     	.hero-image{
         margin-top:3.9em!important;
        }
     	
        #new_smalltext{
         margin-top:0.8em;   
         font-size:1.2em!important;
       }
    	
     	 .rwd-break{
          display:block!important; 
         }
   }
  
 
</style>

<body>


<div class="hero-image ">
<!--  <img src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/devicePage_header_bg-SIZE02.png?2675893951355393971" style="width: 100%;">  -->
 	 <img src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Headers_Device_copy-03.png?83739328131098997" style="width: 100%;">
  <div class="page-width hero-text">
      <div class="devicenewHeader">
      	<p id="newPawtrails" style="color:#ffffff;font-size:18px;">The New <br class="rwd-break">PawTrails</p>
        <h2 class="h1 mega-title customalign mobilestyle disappear_mobile">GPS Smart Collar & Harness</h2>
        <h2 class="h1 mega-title customalign mobilestyle disappear_mobile">All in One Solution</h2>
    
        <a href="/products/newpawTrails" class="btn custom-hero__btn disappear_mobile" id="pre_orderbutton">
          Buy Now
        </a>
	 </div> 
    
     <div class="fourbox">
          <div class="col-1-4">
             <div class="rectangle"><img class="fa_track" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/ic-track.svg?18076087985504101995" align="center"><p class="fourbox_text">Live Tracking<br>Safe Zones</p></div>
          </div>
          <div class="col-1-4">                     
			<div class="rectangle"><img class="fa_track" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/activityblack.svg?10508352841634574544" align="center"><p class="fourbox_text2">Activity <br>Monitor</p></div>
          </div>
          
           <div class="col-1-4">                     
			<div class="rectangle"><img class="fa_track" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/adventure_ic.svg?9127654126111033092" align="center"><p class="fourbox_text">Adventure<br> Recording</p></div> 
          </div>
           <div class="col-1-4">                     
			<div class="rectangle"><img class="fa_track" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/ic_medical.svg?14655149404579885601" align="center"><p class="fourbox_text2">Health<br> Advisor</p></div> 
          </div>
     </div>
  </div>
  
</div>
  
  


  
   
 

