  <div id="section-cta">
    <div class="section-header text-left">
      <h3 class="h2">1. PawTrails Website Privacy Statement</h3>
      
      <a class="readmore" href="/pages/pawtrails-website-privacy-statement">
        <button class="btn seemore_btn">
          Read more
        </button>
      </a>
    </div>

    

   	
    <div class="section-header text-left">
      <h3 class="h2">2. PawTrails Privacy Statement and Terms & Conditions for iOS</h3>
      <a class="readmore" href="/pages/privacy-statement-and-tcs-ios">
      	<button class="btn seemore_btn">
      		Read more
    	</button>
      </a>
    </div>

   

    <div class="section-header text-left">
      <h3 class="h2">3. PawTrails Privacy Statement and Terms & Conditions for Android</h3>      
      <a class="readmore" href="/pages/privacy-statement-and-tcs-android">
        <button class="btn seemore_btn">
         Read more
        </button>
      </a>
    </div>

   

  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
