
<div id="section-cta">
        <div class="storelocator">
         <div class="page-width">
             
              <div class="section-header text-center">
                <h1 class="pagecustomtitle">Compare PawTrails Plans</h1>
              
              </div>
          
         </div>
      </div> 

  
   
        <div id="tablesection">
           <div class="page-width">
        
          {% for block in section.blocks %}
       
                <table class="pricetable" width="100%" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                      <tr>
                        <td style="width: 17%;"></td>
                        <td style="width: 17%;">
                          <div style="text-align: center;">Monthly</div>
                        </td>
                        <td style="width: 17%; text-align: center;">
                          <div>Half-Year</div>
                        </td>
                        <td style="width: 17%; text-align: center;">
                          <div>Yearly</div>
                        </td>
                        <td style="width: 17%; text-align: center;">
                          <div>Lifetime</div>
                        </td>
                      </tr>

                    <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Service Fee</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><span class="money" wg-notranslate="manual" doubly-currency-eur="299"  doubly-currency-gbp="299.00033572137204">€ 2.99</span></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><span class="money" wg-notranslate="manual" doubly-currency-eur="1599"  doubly-currency-gbp="1599.00033572137204">€ 15.99</span></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><span class="money" wg-notranslate="manual" doubly-currency-eur="2999"  doubly-currency-gbp="2999.00033572137204">€ 29.99</span></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><span class="money" wg-notranslate="manual" doubly-currency-eur="6999"  doubly-currency-gbp="6999.00033572137204">€ 69.99</span></div>
                        </td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Live Tracking</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Unlimited</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Unlimited</div>
                        </td>
                        <td style="width: 17%;">
                            <div class="tableText">Unlimited</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Unlimited</div>
                        </td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Safe Zone</div>
                        </td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Activity Monitor</div>
                        </td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Health Management</div>
                        </td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Adventure Mode</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Included</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Included</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Included</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Included</div>
                        </td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Pet Sharing</div>
                        </td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Telephone Support</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Working Hours</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Working Hours</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Working Hours</div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText">Included</div>
                        </td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;">
                          <div style="text-align: left;">Chat Support & Ticketing</div>
                        </td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                        <td style="width: 17%;"><img src="https://cdn.shopify.com/s/files/1/2590/2182/files/service-fee-check.svg?16689664352071847366"></td>
                      </tr>

                      <tr style="text-align: center;">
                        <td style="width: 17%;"></td>
                        <td style="width: 17%;">
                          <div class="tableText"><a class="subscribe disable_links">Subscribe Now</a></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><a class="subscribe disable_links">Subscribe Now</a></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><a class="subscribe disable_links">Subscribe Now</a></div>
                        </td>
                        <td style="width: 17%;">
                          <div class="tableText"><a class="subscribe disable_links">Subscribe Now</a></div>
                        </td>
                      </tr>
                    </tbody>
              </table>
         	</div>
          {% endfor %}
        </div>

        <div class="section-header text-center">
          <h3> {{ section.settings.text-box }} </h3>
          <h3> {{ section.settings.subheading }} </h3>
        </div>
		
  		<a style="color:#d4143d!important;" href="/products/newpawTrails">
          <div class="btn" id="call-to-action">Buy Now
          </div>
        </a>
  
        <div class="Undertext">
          <a href="/pages/pawtrails-app"><p style="color:#696969!important;">or</p> Learn more about the PawTrails App</a>
        </div>

</div>


{% schema %}
{
  "name": "Service Table",
	"max_blocks": 1,
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "tablecaption",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add table",
      "settings": [
        {
          "id": "link",
          "type": "url",
       		"label": "Service Table"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service Table",
      "category": "CTA button",
      "blocks": [
        {
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
