<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>

<!--   <div class="storelocator">
     <div class="page-width">
        
          <div class="section-header text-left">
            <h1 class="pagecustomtitle">{{ page.title }}</h1>
            <h2 class="store_subtitle">Check PawTrails upcoming Events.</h2>          
         </div>
      
     </div>
  </div> 
 -->
  <div class="page-width ">
    <div class="grid">
      <div class="grid__item medium-up--one-half  ">      
        <div class="eventlist container">
           
          <!--page 8--> 
          <div class="jumbotron page" id="page8">  			
            <div class="newsbox">   
              <h4 class="eventtext">03-04th November 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails will be at The Pet Expo </h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am-18:00pm </td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">National Show Centre, Cloghran, Swords </td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
		
            <div class="newsbox">   
              <h4 class="eventtext">23rd-24th September 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails will be at the Pats Show</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">09:30am-17:00pm </td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Telford International Centre: St Quentin Gate, Telford TF3 4JH</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
              <div class="newsbox">   
                <h4 class="eventtext">20th September 2018</h4>
                <hr class="eventdotline">
                <h4 class="eventname">PawTrails Launch & Product Unveil</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr class="noborders">
                      <td style="width: 25.413%;">Time:</td>
                      <td style="width: 70.587%;">12:00pm-14:00pm </td>
                    </tr>

                    <tr class="noborders">
                      <td style="width: 25.413%;">Address:</td>
                      <td style="width: 70.587%;">Bark and Bumble Cafe, 1 Langford Row, Ballintemple, Cork, T12 WK88</td>
                    </tr>
                  </tbody> 
                </table>
          	</div> 
            
          </div>
           
           <!--page 7--> 
          <div class="jumbotron page" id="page7">  			
            <div class="newsbox">   
              <h4 class="eventtext">18-19th August 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails will be at The Pet Show 2018</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">10:00am-17:00pm </td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Staffordshire County Grounds</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
            
            <div class="newsbox">   
              <h4 class="eventtext">8th-9th September  2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname">PawTrails will be at The Dog Lover Show</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">10:00am - 06:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">SEC, Glasgow, Scotland</td>
                  </tr>
                </tbody> 
              </table>
          	</div>

            <div class="newsbox">   
              <h4 class="eventtext">18th-20th September 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails at The National Ploughing Championships</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">09:00am -06:00pm </td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Screggan, Tullamore, Co. Offaly</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
         </div> 
          
          
                <!--page 6--> 
          <div class="jumbotron page" id="page6">  

            <div class="newsbox">   
              <h4 class="eventtext">16th, 17th June 2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname">PawTrails will be at Cork Summer Show</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">09:00am - 06:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Curraheen Showgrounds, Cork</td>
                  </tr>
                </tbody> 
              </table>
          	</div>

            <div class="newsbox">   
              <h4 class="eventtext">14th July 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails will be at The Queen of The Sea Festival</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">12:00pm - 4:30pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Nealons Quay, Youghal</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
            <div class="newsbox">   
              <h4 class="eventtext">15th July 2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname"> PawTrails Dog Show</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">02:30pm - 03:30pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Nealons Quay, Youghal</td>
                  </tr>
                </tbody> 
              </table>
          	</div>
       
         </div> 
          
          <!--page 5--> 
          <div class="jumbotron page" id="page5">  
			
            
            <div class="newsbox">   
              <h4 class="eventtext">6th April 2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname">Instore Launch in Pet Depot</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">25/26 The Duffry, Enniscorthy  Wexford</td>
                  </tr>
                </tbody> 
              </table>
          	</div>

            <div class="newsbox">   
              <h4 class="eventtext">7th April 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">Instore Launch in Pet Plus</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Ticknock Commercial Park<br> Cobh, Cork</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
            <div class="newsbox">   
              <h4 class="eventtext">31 March 2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname">International All Breed Championship</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">1 Corduff, Dublin, Lusk, Dublin,<br> Ireland Co. Dublin</td>
                  </tr>
                </tbody> 
              </table>
          	</div>
       
         </div> 
          
          
          
          <!--page 1--> 
          <div class="jumbotron page" id="page4">  
	

            <div class="newsbox">   
              <h4 class="eventtext">31 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails in Pet Depot Wicklow</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">1 Corduff, Dublin, Lusk, Dublin,<br> Ireland Co. Dublin</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
            
            <div class="newsbox">     
              <h4 class="eventtext">29 March 2018</h4>
          	  <hr class="eventdotline">
              <h4 class="eventname">In-Store Launch in Irish Rosettes</h4>
             
              <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">1 Corduff, Dublin, Lusk, Dublin,<br> Ireland Co. Dublin</td>
                  </tr>
                </tbody> 
              </table>
          	</div>
            
             <div class="newsbox">   
              <h4 class="eventtext">24 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails in Pet Depot</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Area 3, Hebron Industrial Estate, Hebron Road,<br> Kilkenny, Ireland</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
         </div>  
   		
         <!--page 2-->
         <div class="jumbotron page" id="page3"> 
         
          
          	<div class="newsbox">   
              <h4 class="eventtext">23 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails In-Store Launch</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Rear 88 Terenure Road North,<br> Dublin, Ireland</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
          
          	<div class="newsbox">   
              <h4 class="eventtext">17-18 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails at the International Championship Show</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">9:00am - 3:00pm</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">National Show Centre, Cloghran, Dublin</td>
                  </tr>
                </tbody> 
              </table>
          	</div>  
           	
              <div class="newsbox">   
                <h4 class="eventtext">11 March 2018</h4>
                <hr class="eventdotline">
                <h4 class="eventname">PawTrails In-store Launch</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr class="noborders">
                      <td style="width: 25.413%;">Time:</td>
                      <td style="width: 70.587%;">14:00 - 17:30</td>
                    </tr>

                    <tr class="noborders">
                      <td style="width: 25.413%;">Address:</td>
                      <td style="width: 70.587%;">Woodbine Business Park, Hewitsland, <br> New Ross, Ireland</td>
                    </tr>
                  </tbody> 
                </table>
              </div> 
           
          </div>
      	
          <!--page 3-->
           <div class="jumbotron page" id="page2"> 
            
          
          	<div class="newsbox">   
              <h4 class="eventtext">10 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails In-Store Launch</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00 - 15:00</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Precious Pets Ennis<br> Ireland</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
          
          	<div class="newsbox">   
              <h4 class="eventtext">10 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails In-Store Launch</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00 - 15:00</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">38 Silver Street, Nenagh,<br>Petzown Nenagh </td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
             
              <div class="newsbox">   
                <h4 class="eventtext">09 March 2018</h4>
                <hr class="eventdotline">
                <h4 class="eventname">PawTrails In-store Launch</h4>
                <table class="eventtable" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr class="noborders">
                      <td style="width: 25.413%;">Time:</td>
                      <td style="width: 70.587%;">11:00 - 15:00</td>
                    </tr>

                    <tr class="noborders">
                      <td style="width: 25.413%;">Address:</td>
                      <td style="width: 70.587%;">Slinkeys Pet Shop<br> Ireland</td>
                    </tr>
                  </tbody> 
                </table>
              </div> 
          </div>
          
          <!--page 4-->
        	 <div class="jumbotron page" id="page1"> 
          
          
          	<div class="newsbox">   
              <h4 class="eventtext">09 March 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">Clonmel Outdoors & Pets In-Store Launch</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">11:00 - 15:00</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Clonmel Outdoors & Pets,<br> 2/3 Abbey Street, Clonmel</td>
                  </tr>
                </tbody> 
              </table>
          	</div> 
          
          	<div class="newsbox">   
              <h4 class="eventtext">24 Feb 2018</h4>
              <hr class="eventdotline">
          	  <h4 class="eventname">PawTrails In-Store Launch</h4>
 			  <table class="eventtable" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr class="noborders">
                    <td style="width: 25.413%;">Time:</td>
                    <td style="width: 70.587%;">13:00 - 16:00</td>
                  </tr>

                  <tr class="noborders">
                    <td style="width: 25.413%;">Address:</td>
                    <td style="width: 70.587%;">Matilda's Pet Shop, Chapel Ln, <br>Killarney, Co. Kerry </td>
                  </tr>
                </tbody> 
              </table>
          	</div>       
          </div>	
          
        </div>
       </div> 
        
      <div class="grid__item medium-up--one-half ">      
      	<div class="calendarbox">
         
          {{ page.content }}
        </div>
      </div>   
    </div>
      <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
  </div>




<style>
  .page {
  display: none;
}
.page-active {
  display: block;
}
 
  #pagination-demo  li{
   margin-right:1em; 
  }
  
  #pagination-demo {
    padding-top:0px;
    margin-bottom:3em;
  }
  
</style>

<script>
      $('#pagination-demo').twbsPagination({
    totalPages: 8,
    // the current page that show on start
    startPage: 8,

    // maximum visible pages
    visiblePages: 1,

    initiateStartPageClick: true,

    // template for pagination links
    href: false,

    // variable name in href template for page number
    hrefVariable: '{{number}}',

    // Text labels
  	first: 'FIRST',
    prev: 'PREV',
    next: 'NEXT',
   	last: 'LAST',
    // carousel-style pagination
    loop: false,

    // callback function
    onPageClick: function (event, page) {
        $('.page-active').removeClass('page-active');
      $('#page'+page).addClass('page-active');
    },

    // pagination Classes
    paginationClass: 'pagination',
    nextClass: 'next',
    prevClass: 'prev',
 
    lastClass: 'last',

	 firstClass: 'first',

    pageClass: 'page',
    activeClass: 'active',
    disabledClass: 'disabled'

    });

</script>




