	
	<div class="page-width text-center">	
		<div class="faqUndersection_title">     
          <h2 class="h3">What are you waiting for?</h2>
          <h2 class="h3">Get your New PawTrails today</h2>
    	</div>
    
         <a style="color:#d4143d!important;" href="/products/newpawtrails"> 
            <div class="btn" id="call-to-action">        
             Buy Now
            </div>
         </a>
      
        <div class="Undertext">
          <a href="/pages/pawtrails-app"><p style="color:#696969!important;">or</p> Learn more about the PawTrails</a>
        </div>
	</div>


<hr id="event-footer-line">