body {
    background-image: url({{ 'background.png' | asset_url }});
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover

}


nav { display:none; }

header { display:none; }

footer { display:none; }