<div class="page-width page_custom_padding">
  <div class="grid">

      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {% section 'question_app1' %}
      </div>
    </div>
  </div>

