 {% section 'returns_header' %}
  
<div class="storelocator">
   <div class="page-width">
     <div class="grid">     
        <div class="section-header text-left">
          <h1 class="pagecustomtitle">{{ page.title }}</h1>
        
        </div>
     </div>
   </div>
</div> 


<div class="page-width page_custom_padding">
  <div class="grid">
   
      <div class="rte">
       	{% section 'legal-section' %}

      </div>
   
  </div>
</div>
