  
<div class="storelocator">
   <div class="page-width">
     <div class="grid">     
        <div class="section-header text-left">
          <h1 class="pagecustomtitle">PawTrails Support Guide</h1>
          <h2 class="store_subtitle">Online Support Videos for Retailers</h2>
        </div>
     </div>
   </div>
</div> 
{% section 'video2' %}
{% section 'customVideo' %}

