 {% section 'legal_icon_header' %}

  <div class="page-width page_custom_padding">
    <div class="grid">

        <div class="rte">
          {{ page.content }}
        </div>
    
    </div>
  </div>
