  
<!-- <div class="storelocator">
   <div class="page-width">
     <div class="grid">     
        <div class="section-header text-left">
          <h1 class="pagecustomtitle">{{ page.title }}</h1>
          <h2 class="store_subtitle">Just type in where you are to search your nearest store.</h2>
        </div>
     </div>
   </div>
</div>  -->

 {% section 'storelocator_header' %}

 <div class="page-width storelocator_padding">
    <div class="grid">            
        <div class="rte">
          <div id="storepoint-container" data-map-key="" data-map-id="15aa6891999a29"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/api/v1/js/15aa6891999a29.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>
        </div> 
    </div>
  </div>


<div class="storelocator_below">
  <div class="page-width text-center waitingforsection2">	
    <div class="faqUndersection_title">     
      <h2 class="h3">What are you waiting for?</h2>
      <h2 class="h3">Get your New PawTrails today</h2>
    </div>
	
    <a style="color:#d4143d!important;" href="/products/newpawTrails"> 
      <div class="btn" id="call-to-action">        
       Buy Now
      </div>
    </a>
    
    <div class="Undertext">
      <a href="/pages/pawtrails-app"><p style="color:#696969!important;">or</p> Learn more about the PawTrails</a>
    </div>
  </div>
 </div>

<hr id="store-footer-line">

