
{% section 'user_manual_header' %}
  <div class="page-width" style="margin-top:2em; margin-bottom:3em;">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
 		<div>
          <ul class="tabs" style="margin-top:1em;">
        	<li><a class="active" href="#tab1">User Manuals</a></li>
          </ul>
          <ul class="tabs-content">
                  <div>
                      <ul class="pdf">
                           <li>            
                              <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/EnglishManual.pdf?6228870473378488951" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-English</span></a>
                           </li>
                           <li>            
                            <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Translation-booklet-FRENCH.pdf?13837865839237910425" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-French</span></a>
                           </li>
                           <li>            
                              <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Translation-booklet-GERMAN.pdf?13837865839237910425" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-German</span></a>
                           </li>
                           <li>            
                              <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Translation-booklet-ITALIAN.pdf?13837865839237910425" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-Italian</span></a>
                           </li>
                           <li>            
                              <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Translation-booklet-SPANISH.pdf?13837865839237910425" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-Spanish</span></a>
                           </li>
                            <li>            
                              <a href="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/Translation-booklet-PORTUGUESE.pdf?13837865839237910425" target="_blank" rel="noopener noreferrer"><img class="pdfimg" align="middle" src="https://cdn.shopify.com/s/files/1/0007/0615/0436/files/pdficon.png?18419183731297854676"><span>Booklet-Portuguese</span></a>
                            </li>
                    </ul>
                  </div>
          </ul>
        </div>
      </div>
    </div>
  </div>


<style>
  ul.tabs li a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #F5F5F5;
  border-color: #DDDDDD !important;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  display: block;
  font-size: 16px;
  font-weight:520;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px;
  text-decoration: none;
  width: auto;
  color: #303030;
  border-bottom:none !important;
}
   
  .tabs-content{
   	border:1px solid #d9d9d9;
    padding-top:2em;
  }
  
  .sub_header{
  	font-size:22px;  
  } 
  
  .pdfimg{
  	width:50px;
    vertical-align:middle;
  }
  
  ul.pdf li {
    list-style-type: none;
  
    padding: 8px 36px;
	}	
  
 
ul.tabs {
/*   border-bottom: 1px solid #DDDDDD; */
  display: block;
  margin: 0px;
  padding: 0;
/*   background-color:#f4f4f4; */
}
ul.tabs li {
  display: block;
  float: left;
  height: 30px;
  margin-bottom: 0;
  padding: 0;

}
</style>