
	<style type="text/css">
		
			#titlebg{
              background-image: url("https://cdn.shopify.com/s/files/1/2590/2182/files/titlebg1.svg?10573095036214950831");
              width:100%;
              min-height:100px;
              text-align: center;
              font-size: 25px;
              font-weight: light;
              color: #ffffff;
              font-family: 'Montserrat';
              letter-spacing: 0.8;
              padding-top:28px;
			 }

      		.contacttextdiv{
      			padding: 40px 0px;        
            }
      
            .contacttext{
              font:13px 'Montserrat'; 
              color:#79828b; 
              
            }

            .button-text-line{
              color:#d8d8d8;
              height:1px;
              width:80%;
              margin:0 auto;
            }
      
            .explorebutton{	 
              width:257px; 
              height:50px;
              font:12px/14px Montserrat, sans-serif;
              color:#ffffff; 
              text-transform:uppercase; 
              background-color:#51de93;       
              border-radius:30px;
              border:none;
             
             }
      
      		 .explorebutton a{
                text-decoration:none;         
                letter-spacing: 0.9px; 
                display:block;
                padding:18px 10px 10px;                
 				color: #ffffff;
             }
            
              .lefticon{
                float:left;
              }
      		  .righttext{
               	float:right; 
              }
      		
      		  .activationbox{
               min-width:320px; 
               background-color:#ffffff;
               width:60%;
               margin: 0 auto;
              }
      
              #dogImg{
                margin: 0 auto;
              	min-width:300px;
                padding:50px 0;
              }
      
              .congratstext{
				font-family: Montserrat;
  				font-size: 14px;
				text-align: center;
  				color: #79828b;          
              }
      
              .explore{
				margin:50px 0;
              }
      
              .activationbox{
				 background-color: #ffffff;
 				 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
                 margin-bottom:4em;
              }
      
              .waitingblock{
				padding:2em 0;
              }

		</style>


<div class="storelocator">
  <div class="page-width ">
    <div class="grid">
		<div class="activationbox" >
          
          <div class="dob-box">    
              <div id="titlebg" class="img-flex" >Account Activated</div>								
              <div style="text-align:center;">                                         
              	<img src="https://cdn.shopify.com/s/files/1/2590/2182/files/dog.svg?7482988396960583163" id="dogImg" alt="dog" />

                <div class="congratstext" align="center">
                  Congratulations, your account is now activated!
                </div>

                <div class="explore">                                                                                  
                   <a target="_blank" href="/pages/service-fee">
                     <button class="explorebutton">
                       EXPLORE SUBSCRIPTION
                      </button>  
                  </a>                                      
                </div>

                <hr class="button-text-line">
				<div class="contacttextdiv">
                  <p class="contacttext">
                    The PawTrails Team
                  </p>

                  <p class="contacttext">
                    Contact: info@pawtrails.com
                  </p>
                </div>
              </div>
          </div>
		
  		</div>
  	</div> 
  </div>
</div>

	<div class="page-width text-center waitingblock">	
		<div class="faqUndersection_title">     
          <h2 class="h3">What are you waiting for?</h2>
          <h2 class="h3">Get your PawTrails smart collar today</h2>
    	</div>
    
         <a style="color:#d4143d!important;" href="/pages/buy-now"> 
            <div class="btn" id="call-to-action">        
             Buy Now
            </div>
         </a>
      
        <div class="Undertext">
          <a href="/pages/pawtrails-app"><p style="color:#696969!important;">or</p> Learn more about the PawTrails</a>
        </div>
	</div>
